.search {
  /* background: #000 !important; */
  width: 100%;
  /* min-height: 100vh; */
  background: url("./assets/search-bg.jpg") top center;
  background-size: cover;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  color: white;
}
.MyNomination{
  padding-top: 50px;
    /* background: #000 !important; */
    width: 100%;
    /* min-height: 100vh; */
    background: url("./assets/myNomination-bg.jpg") top center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}
/* Hero CSS */
#hero {
  width: 100%;
  min-height: 100vh;
  background: url("./assets/hero-bg.jpg") top center;
  background-size: cover;
}

/* #hero::before {
  content: "";
  background: rgba(5, 13, 24, 0.3) ;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
} */

.hero-text{
  padding-top: 45vh;
  font-size: 70px;
  color: #fff;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media(max-width:644px){
  .hero-text{
    padding-top: 45vh;
    font-size: 40px;
    color: #fff;
  }
}
/***************************/
/* Smooth Scroll on Up */
.scroll-container {
	height: 100vh;
	overflow-y: scroll;
  scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

.test {
	min-height: 100vh;
	scroll-snap-align: center;
}

/***************************/


/* Scroll button */
.demo a {
  position: relative;
  margin-top: 30vh;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  scroll-behavior: smooth;
}
.demo a:hover {
  opacity: .5;
}
#section07 a {
  padding-top: 80px;
}
#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/***************************/
.searchText{
  font-size: 30px;
} 